body { 
    background-image: url(img/teaser.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 102%;
    background-color: #008083;
  }


@media only screen and (max-width: 1000px) {
    body { 
        background-image: url(img/teaserm.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 100%;
      }
}

html, body {
    cursor: url(img/arrow.cur), default;
}


  @font-face {
    font-family: 'Windows 95';
    src: url('/fonts/levenim/levenim.ttf') 
        url('../fonts/w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
